@model Car_System.Models.DriverHistory
@{
    ViewData["Title"] = "History";
}
<div class="container shadow rounded">
    <div class="row">
        <div class="col-4">
            <h3 class="text-info">Programming with LEMSYAH</h3>
            <pre>
Rabat, Temara, Morocco
Contact No : +212 6 69 53 80 49
Email : mustapha.lemsyah@gmail.com
            </pre>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <h4 class="bg-info text-white">Driver Details</h4>
                <pre>
Name : @Model.Driver.Name
Address : @Model.Driver.Address
Contact Number : @Model.Driver.MobileNo
Experince : @Model.Driver.Experince
                </pre>
            </div>
            <div class="col-4 offset-4">
                <div class="p-4 shadow-sm rounded" style="height:200px;">
                    <img src="~/images/drivers/@Model.Driver.ImagePath" class="w-100 h-100" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mt-3 p-3">
                <table class="table table-responsive table-bordered bg-white text-center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>PickUp</th>
                            <th>DropOff</th>
                            <th>PickUp Date</th>
                            <th>DropOff Date</th>
                            <th>Total Run</th>
                            <th>Brand</th>
                            <th>Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Rents)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.PickUp</td>
                                <td>@item.DropOff</td>
                                <td>@item.PickUpDate</td>
                                <td>@item.DropOffDate</td>
                                <td>@item.TotalRun</td>
                                <td>@item.Brand</td>
                                <td>@item.Model</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>
